<%- include('./common/header') %>

<div class="container">
  <div class="row">
      <div class="col-lg-6 col-md-offset-3">
          <h1 class="page-header">应用授权<small>Authorization Service</small></h1>
      </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          授权中心
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" data-src="holder.js/64x64" alt="icon" style="width: 64px; height: 64px;" src="<%= state.clientInfo.c_icon %>"
                  data-holder-rendered="true">
              </a>
            </div>
            <div class="media-body">
              <h3 class="media-heading"><%= state.clientInfo.c_name %></h4>
              <h4><%= state.clientInfo.c_desc %></h4>
            </div>
          </div>
          <hr>
          <h4>亲爱的<span class="text-primary"><%= userInfo.user_nickname %></span>，您将允许<%= state.clientInfo.c_name %>进行以下操作：</h4>
          <br>
          <ul>
            <li>获得你的个人信息，好友关系</li>
            <li>获得你的评论</li>
          </ul>
          <p class="text-right text-success">授权中心认证应用</a></p>
        </div>
        <div class="panel-footer text-right">
         <button type="button" class="btn btn-success" id="confirm">&emsp;确定&emsp;</button>
         <button type="button" class="btn btn-outline btn-danger" id="cancel">&emsp;取消&emsp;</button>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>
</div>

<%- include('./common/jslib') %>
<script src="/js/authorize.js"></script>
<%- include('./common/footer') %>
