<%- include('./common/header') %>

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-offset-2">
          <h2 class="page-header">资源列表</h2>
      </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-8 col-md-offset-2">
      <% if (resources.length > 0) { %>
        <% resources.forEach((item, idx) => { %>
          <div class="media">
            <div class="media-left">
              <img class="media-object" data-src="holder.js/64x64" style="width: 120px; height: 120px;" src="<%= item.r_link %>" data-holder-rendered="true">
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= item.r_title %></h4>
              <p><%= item.r_desc %></p>
            </div>
          </div>
          <hr>
        <% }) %>
      <% } else { %>
        <p class="text-center">资源列表为空</p>
      <% } %>
    </div>
  </div>
</div>

<%- include('./common/jslib') %>
<script src="/js/authorize.js"></script>
<%- include('./common/footer') %>
